# Python virtual environment
.venv/

# dbt generated folders
target/
logs/
dbt_packages/

# Local data
raw data/

# Environment / credentials
.env
profiles.yml

# Python cache
__pycache__/
*.pyc

# OS / editor files
.DS_Store
Thumbs.db
.vscode/

# Temporary files
*.tmp
*.log
dbt_internal_packages/
